<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Estudantes</title>
</head>
<body>
    <h1><b>UPDATE/DELETE ESTUDANTE</b></h1>
    <form action="http://127.0.0.1:5000/actions" method="post">
        <p>Busque o Estudante a ser atualizado/deletado:</p>
        <label for="matricula">Matricula:</label>
        <input type="text" name="matricula" id="matricula" required>
        <p>Preciso implementar a Busca</p>
        <p>
            <button type="submit">Buscar</button>
        </p>
    </form>
</body>
</html>