<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1><b>MENU</b></h1>
    <p>Clique no botão para ir para a opção desejada</p>
    <form action="/menuCadastro">
        <button type="submit">Cadastrar Estudante</button>
    </form>
    <form action="/menuList">
        <button type="submit">Listar Estudante(s)</button>
    </form>
    <form action="/menuActions">
        <button type="submit">Atualizar/Deletar Estudante(s)</button>
    </form>
</body>
</html>