.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkar{
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form{
  margin:auto;
  width: 80%;
}